function: int foo(int x, int y) {

    int y = 2352;

    return y;
}

int x=2+5;
const int bar = x;

const int fee = 5 + 6 * 8;
const int ree = fee;

const int tee = 5 - 4 * 2 + 4 / 2; //what is this

const int x2 = 5; // okay
int y2 = x2; // runtime initialization, okay
const int z2 = y2; // error
