int tar;
bool far;
float jar;

function : void test() {
    int zoo;
    float moo;
    bool loo;

    //all ok
    zoo++;
    zoo--;
    ++zoo;
    --zoo;
    moo++;
    moo--;
    ++moo;
    --moo;
    tar++;
    tar--;
    ++tar;
    --tar;
    jar++;
    jar--;
    ++jar;
    --jar;

    5++; //error, can't inc r-val
    5--; //error, can't dec r-val
    ++5; //error, can't inc r-val
    --5; //error, can't dec r-val
    
    ::tar++ = loo++ + moo++; //error, can't inc bool
    moo--++--++ = zoo++; //error, can't inc r-val
    --++::jar = zoo; //error, can't dec r-val

    ++++----loo; //error, can't dec bool
    tar = ++--++--zoo; //error, can't inc r-val

    ::jar = ++::jar + ::tar--;

    ++7--; //error, can't dec r-val;
    --(3434 + 4324 - 324)++--; //error, can't inc r-val

    (3455435++)----; //error, can't inc r-val
    ++(444444444--)--; //error, can't dec r-val
    (++::jar)--; //error, can't dec r-val
}
