function : void foo(){
    exit(1232423);
    exit(false); //FAIL
    int y = 15;
    exit(y);
    bool z = false;
    exit(z); //FAIL
    int a;
    bool b;
    exit(a);
    exit(b); //FAIL

    const int c = 4;
    exit(c);

    float f = 3.14;
    exit(f);
    exit(2.5);
}
